.content {
  border: solid 4px #fff659;
  border-radius: 10px;
  padding: 10px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  background: #fff99a;
}

p[id="header_blank"] {
  height: 35px;
}

.main_text {
  font-weight: 700;
  display: inline;
  font-size: 25px;
}

span[class="main_text"] {
  text-decoration: underline #a78000;
  text-decoration-thickness: 2.5px;
}

.content_blank {
  height: 30px;
}
